*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url(IMG_0361.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: rgba(255, 255, 255, 0.36);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}
nav li:first-child{
    font-style: oblique;
    font-weight: bolder;
    font-size: x-large;
    margin-right: auto;
}
h1{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-display: 45%;
}